<h1 id="tableLabel">Products</h1>

<p>This component demonstrates fetching data from the server.</p>

<!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->

<br />
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Management</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of getProducts()">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td><button type="button" class="btn btn-primary">Edit</button><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
<hr />
<br />
<app-product-form></app-product-form>
<br />
